@import '~bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.bg-orinoco {
  background-color: #F4E9F1;
}

h1, h2, h3, h4, h5 {
  font-family: $primaryFont;
}

p {
  font-family: $secondaryFont;
}

section {
  margin-top: 50px;
}

.text-right {
  text-align: right;
}