nav {
  font-family: $primaryFont;

  a {
    cursor: pointer;
    @include font-size(1.3rem);

    i {
      @include font-size(2rem);
    }
  }

  .badge {
    border-radius: 50px;
    right: -15px;
    top: 0;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    position: absolute;
  }
}