@import "../main.scss";

.cart {
  &-trash {
    color: white;
    background-color: $danger;
    border-color: $danger;
    @include font-size(1.5rem);
    padding: 5px 15px;

    &:hover {
      background: white;
    }
  }

  &-image {
    width: 50%;
    max-width: 50%;
    object-position: center;
    object-fit: cover;
  }

  &-customization, &-quantity {
    font-style: italic;
    margin: 0;
    line-height: 1;
  }

  &-description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  &-summary {
    height: fit-content;
  }

  &-form {
    width: 100%;
  }

  aside {
    & > div {
      border-radius: 5px;
    }
  }
}

@include media-breakpoint-up('md') {
  .cart-image {
    width: 100%;
    max-width: 100%;
  }
}
